.modal {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: linear 1px black;
    border-radius: 15px;
}